# Default ignored files
/shelf/
/workspace.xml
/.idea/
# Datasource local storage ignored files
/../../../../../../../../:\Users\20099\OneDrive - University College London\Documents\GitHub\BindSiteS-CNN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
